<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- start navbar -->
        <nav>
            <ul class="menu">
                <li class="logo"><a href="{{ url_for('home') }}">Wissman Site</a></li>
                <li class="item"><a href="{{ url_for('about') }}">About</a></li>
                <li class="item"><a href="{{ url_for('programs') }}">Programs</a></li>
                <li class="item"><a href="{{ url_for('contact', is_ok=0) }}">Contact</a></li>
            </ul>
        </nav>
        <!-- end navbar -->
        {% block content %}
        
        {% endblock %}
        <footer>
            <p>&copy; copyrights Made with &#10084;&#65039; by wissman</p>
        </footer>
    </div>
</body>
</html>