{% extends "base.html" %}

{% block title %}
Wissman Portfolio - Home page
{% endblock %}


{% block content %}
<section class="index">
    <div class="heading-title">
        <h1>My Place to Code <span class="colored-python-first">Py</span><span class="colored-python-last">thon</span>
        </h1>
    </div>
    <div class="leading-p">
        <p>Hi, I am Wissam Mansour, a Python Programmer, Husband, Father a person who love to continue learning about
            every aspect of the language.</p>
    </div>
</section>
{% endblock %}