{% extends "base.html" %}

{% block title %}
Wissman Portfolio - Programs page
{% endblock %}


{% block content %}
<section class="programs">
    <div class="program">
        <h2>Morse-code</h2>
        <a href="https://github.com/wissman77/morse-code" target="_blank">
            <img src="{{ url_for('static', filename='images/morse.png') }}" alt="morse">
        </a>
        <p>The application get a text and convert it to morse code with sound</p>
    </div>
    <div class="program">
        <h2>MyShop</h2>
        <a href="https://github.com/wissman77/MyShop" target="_blank">
            <img src="{{ url_for('static', filename='images/my_shop.png') }}" alt="my-shop">
        </a>
        <p>The application Ecommerce shop written with C#</p>
    </div>
    <div class="program">
        <h2>Wissman-Blog</h2>
        <a href="https://wissman-blog.herokuapp.com/" target="_blank">
            <img src="{{ url_for('static', filename='images/wissman_blog.png') }}" alt="wissman-blog">
        </a>
        <p>A blog is a site written in python and flask and database</p>
        <p> Can add new posts, comments and register new users</p>
    </div>
    <div class="program">
        <h2>Vidly</h2>
        <a href="https://github.com/wissman77/Vidly" target="_blank">
            <img src="{{ url_for('static', filename='images/vidly.png') }}" alt="vidly">
        </a>
        <p>Video management ASP.NET API</p>
    </div>
</section>
{% endblock %}